#titlebar {
    background-color: black;
    height: 50px;
    width: 100%;
    
    display: flex;              /* Enables Flexbox */
    justify-content: center;    /* Centers horizontally */
    align-items: center;        /* Centers vertically */
    margin-bottom: 20px;
  }
  
  #titlebar h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 0;                  /* Remove default margin */
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Prevents weird sizing issues */
}
  #home{
    align-items: center;
    text-align: center
}
h1, h2, p{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
button{
  background-color: blue;
  border-style: none;
  border-radius: 10px;
  width: 100px;
  height: 35px;
  color: white;
  margin: 30px
}
#image{
  margin-right: 5px
}